@charset "utf-8";

/* 상단배경 */
.con1 {height:600px; width:100%; background-image:url("../img/mypage.jpg"); background-repeat:no-repeat; background-attachment:fixed;}
.con1-box{text-align: center; color: #fff; font-weight: bold; padding-top: 250px;}
.con1-box h3{font-size: 60px; margin-bottom: 20px;}
.con1-box p{font-size: 20px;}
/* 텝메뉴 버튼 */
.con2{margin-top: 90px;}
.con2-center{width: 1200px; margin: 0 auto; border: 2px solid  #191919;}
.con2-gr{float: left; width: 298px; height: 220px; text-align: center; padding: 20px 0; cursor:pointer;}
.con2-gr > img{width: 80px; height: 70px; margin-top: 10px;}
.con2-gr h3{font-size: 24px; margin-top: 14px; margin-bottom: 8px;}
/* div 간격 바 */
.con2-gr::after{float: left;content: ""; width: 1px; height: 200px; background-color: #191919; display: inline-block; position: relative; bottom: 185px;}
.con2-gr:nth-child(1)::after{content: none;}
/*회원정보 관련 가운데 정렬*/
.members-wrap { width:1200px; margin:0 auto; min-height: 676px;}
/* 텝메뉴-회원정보 */
.con3{margin-top: 74px; position: relative;}
.con3-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; height: 680px; background-color: #fff; position: absolute;}
/* 회원정보 내용 */
.con3-text{text-align: center;}
.con3-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con3-text h4{font-size: 20px; font-weight: normal;}
/* 연락처 변경 */
.con3-gr-center{width: 980px; margin: 0 auto;}
.con3-gr{border: 1px solid #191919; width: 480px; height: 260px; float: left; margin-top: 66px; margin-right: 20px; padding-left: 30px; padding-top: 28px;}
.con3-gr:nth-child(2){margin-right: 0px;}
.con3-gr-btn{width: 126px; height: 38px; background-color: #191919;text-align: center; margin-top: 34px;}
.con3-gr-btn a{color: #fff; display: block; line-height: 38px;}
.con3-gr h3{font-size: 22px;}
.con3-gr p{font-size: 14px;}
.con3-gr span{font-weight: bold;}
.con3-gr-fs{margin-top: 50px;}
/* 회원탈퇴 */
.con3-gr h5{margin-top: 14px; margin-bottom: 16px;}
/* 비밀번호 */
.con4-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; height: 680px;background-color: #fff;position: absolute; top: 0; display: none;}
/* con3 회원정보 내용 */ 
.con4-text{text-align: center;}
.con4-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con4-text h4{font-size: 20px; font-weight: normal;}
/* con4 비밀번호 입력창 */
.con4-pwbox{width: 680px; height: 386px; border: 1px solid #191919; margin: 0 auto; margin-top: 50px;}
.con4-pwbox-text{text-align: center; padding-top: 80px;}
.con4-pwbox-text h3{font-size: 20px; margin-bottom: 16px;}
.con4-pwbox-text p{font-size: 14px;}
.con4-btnbox{width: 380px; margin: 0 auto;}
.con4-pw{margin-top: 60px;}
.con4-pw input[type="password"]{width: 378px; height: 38px; margin-bottom: 10px; border: 1px solid #191919;}
.con4-okbtn{width: 180px; background-color: #191919; height: 38px; float: left; margin-right: 20px;}
.con4-okbtn a{color: #fff; text-align: center; line-height: 38px; display: block;}
.con4-closebtn{width: 180px; height: 38px; float: left; border: 1px solid #191919;}
.con4-closebtn a{color: #191919; line-height: 38px; text-align:  center; display: block;}
/* con5 내가 본 작품 */
.con5{margin-top: 74px; position: relative; display: none; }
.con5-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; height: 940px; background-color: #fff; }
.con5-text{text-align: center;}
.con5-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con5-text h4{font-size: 20px; font-weight: normal;}
/* 하단 작품 내용 */
.con5-exhibition{width: 1020px; margin: 0 auto; margin-top: 54px; border-top: 3px solid #191919; border-bottom: 3px solid #191919;}
.con5-gr{border-bottom: 1px solid #191919;}
.con5-gr:nth-child(3){border: none;}
.con5-left{ float: left; width: 370px; height: 218px;}
.con5-left img{width: 100%; height: 100%;} 
.con5-right{ float: left; padding-left: 50px; padding-top: 50px;}
.con5-right h3{ font-size: 30px;}
.con5-right h5{ font-size: 22px; font-weight: normal; margin-top: 20px; margin-bottom: 20px;}
.con5-right p{ font-size: 18px; }
/* con6 예매 내역 */
.con6{margin-top: 74px; position: relative; display: none; }
.con6-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; height: auto; background-color: #fff; }
.con6-text{text-align: center;}
.con6-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con6-text h4{font-size: 20px; font-weight: normal;}
/* 하단 작품 내용 */
.con6-exhibition{width: 1020px; margin: 0 auto; margin-top: 54px; margin-bottom: 54px; border-top: 3px solid #191919; border-bottom: 3px solid #191919;}
.con6-gr{border-bottom: 1px solid #191919;}
.con6-gr:last-child{border: none;}
.con6-left{ float: left; width: 250px; height: 218px;}
.con6-left img{width: 100%; height: 100%;} 
.con6-right{ float: left; padding-left: 50px; padding-top: 20px;}
.con6-left-text{ float: left;}
.con6-right-text{ float: left; margin-left: 120px;}
.con6-right-btn{ float: left; padding:5px; background-color: #e7eaed; margin-left: 120px;}
.con6-right h5{ font-size: 30px; font-weight: normal; margin-top: 20px; margin-bottom: 20px;}
.con6-right p{ font-size: 18px;line-height: 30px;}
/* con7 대관문의 */
.con7{margin-top: 74px; position: relative;  display: none; }
.con7 .con77-change{float:right; margin-top:20px; margin-right:108px;}
.con77-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; background-color: #fff; padding-bottom: 80px; }
.con77-center #qnaTitle{text-align:left;}
.con77-center #qnaTitle a{margin-left:50px;}
.con77-text{text-align: center;}
.con77-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con77-text h4{font-size: 20px; font-weight: normal;}
/* 테이블내용 */
.con77-table{width: 980px; margin: 0 auto; border-top: 2px solid #191919; border-bottom: 2px solid #191919; margin-top: 50px;}
.con77-table tr{height: 50px; border-bottom: 1px solid #ccc;}
.con77-table th{background-color: #ccc;}
.con77-table td{text-align: center;}
.con77-table td a:hover{text-decoration:underline;}
.con77 .btn{width: 980px; margin: 0 auto;}
.con77 .btn .btnLeft{position:relative; color:#797979 !important; float:left; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*/ height:40px;}
.con77 .btn .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con77 .btn .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}
/* con7 QnA내역 */
.con7{margin-top: 74px; position: relative;  display: none; }
.con7 .con7-change{float:right; margin-top:20px; margin-right:108px;}
.con7-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; background-color: #fff; padding-bottom: 80px; }
.con7-center #qnaTitle{text-align:left;}
.con7-text{text-align: center;}
.con7-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con7-text h4{font-size: 20px; font-weight: normal;}
/* 테이블내용 */
.con7-table{width: 980px; margin: 0 auto; border-top: 2px solid #191919; border-bottom: 2px solid #191919; margin-top: 50px;}
.con7-table tr{height: 50px; border-bottom: 1px solid #ccc;}
.con7-table th{background-color: #ccc;}
.con7-table td{text-align: center;}
.con7-table td a:hover{text-decoration:underline;}
.con7 .btn{width: 980px; margin: 0 auto;}
.con7 .btn .btnLeft{position:relative; color:#797979 !important; float:left; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*/ height:40px;}
.con7 .btn .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con7 .btn .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

.con7 .btn .btnRight{position:relative; color:#797979 !important; float:right; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:right; /*width:40%;*/ height:40px;}
.con7 .btn .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con7 .btn .btnRight a.btns strong{display:block; padding:1px 8px 0 25px; background:url(/manage/img/btn_write.gif) no-repeat; color:#797979 !important;}
/*page*/
.con7 .page{position:relative; width:100%; display:block; margin:0 0 0 0px; padding:20px 0 0 0; text-align:center; clear:both; color:#656668; font-size:12px;}
.con7 .page a{position:relative; display:inline-block; padding:5px 6px;  text-decoration: none; color:#656668;}
.con7 .page strong{position:relative; display:inline-block; padding:5px 6px;  text-decoration:underline; color:#f60029;}
.con7 .page .next{position:relative; display:inline-block; padding:7px 3px; margin:0 10px; vertical-align:top; color:#797979; font-size:11px;}
.con7 .page .next img{padding:3px 6px; *padding:4px 6px; margin:0; vertical-align: top;}
.con7 .page a:hover{color:#2e2e2e; text-decoration:underline;}
.con7 .page .page_prev{padding:0 0 0 2px; background:url(/manage/img/page_prev_bg.gif) no-repeat left 5px;}
.con7 .page .page_next{padding:0 2px 0 0; background:url(/manage/img/page_next_bg.gif) no-repeat right 5px;}
/* con8 qna 글쓰기 */
.con8{margin-top: 74px; position: relative;  display: none; }
.con8-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; background-color: #fff; padding-bottom: 80px; }
.con8-text{text-align: center;}
.con8-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con8-text h4{font-size: 20px; font-weight: normal;}
/* 테이블내용 */
.con8-table{width: 980px; margin: 0 auto; border-top: 2px solid #191919; border-bottom: 2px solid #191919; margin-top: 50px;}
.con8-table tr{width: 20%; height: 50px; border-bottom: 1px solid #ccc;}
.con8-table th{background-color: #ccc; padding:0 5px;}
.con8-table input[type="text"]{width:98%;}
.con8 .btn{width: 980px; margin: 0 auto;}
.con8 .btn .btnLeft{position:relative; color:#797979 !important; float:left; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*/ height:40px;}
.con8 .btn .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con8 .btn .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

.con8 .btn .btnRight{position:relative; color:#797979 !important; float:right; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:right; /*width:40%;*/ height:40px;}
.con8 .btn .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con8 .btn .btnRight a.btns strong{display:block; padding:1px 8px 0 25px; background:url(/manage/img/btn_write.gif) no-repeat; color:#797979 !important;}
/* con9 qna reply */
.con9{margin-top: 74px; position: relative;  display: none; }
.con9-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; background-color: #fff; padding-bottom: 80px; }
.con9-text{text-align: center;}
.con9-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con9-text h4{font-size: 20px; font-weight: normal;}
/* 테이블내용 */
.con9-table{width: 980px; margin: 0 auto; border-top: 2px solid #191919; border-bottom: 2px solid #191919; margin-top: 50px;}
.con9-table tr{width: 20%; height: 50px; border-bottom: 1px solid #ccc;}
.con9-table th{background-color: #ccc; padding:0 5px;}
.con9-table input[type="text"]{width:98%;}
.con9 .btn{width: 980px; margin: 0 auto;}
.con9 .btn .btnLeft{position:relative; color:#797979 !important; float:left; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*/ height:40px;}
.con9 .btn .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con9 .btn .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

.con9 .btn .btnRight{position:relative; color:#797979 !important; float:right; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:right; /*width:40%;*/ height:40px;}
.con9 .btn .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con9 .btn .btnRight a.btns strong{display:block; padding:1px 8px 0 25px; background:url(/manage/img/btn_write.gif) no-repeat; color:#797979 !important;}
/* con10 qna 상세*/
.con10{margin-top: 74px; position: relative;  display: none; }
.con10-center{width: 1200px; margin: 0 auto; border: 2px solid #191919; background-color: #fff; padding-bottom: 80px; }
.con10-text{text-align: center;}
.con10-text h2{font-size: 48px; margin-top: 60px; margin-bottom: 16px;}
.con10-text h4{font-size: 20px; font-weight: normal;}
/* 테이블내용 */
.con10-table{width: 980px; margin: 0 auto; border-top: 2px solid #191919; border-bottom: 2px solid #191919; margin-top: 50px;}
.con10-table tr{height: 50px; border-bottom: 1px solid #ccc;}
.con10-table th{background-color: #ccc; padding:0 5px; width:25%;}
.con10-table td p{margin:10px 10px;}
.con10-table input[type="text"]{width:98%;}
.con10 .btn{width: 980px; margin: 0 auto;}
.con10 .btn .btnLeft{position:relative; color:#797979 !important; float:left; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*/ height:40px;}
.con10 .btn .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con10 .btn .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

.con10 .btn .btnRight{position:relative; color:#797979 !important; float:right; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:right; /*width:40%;*/ height:40px;}
.con10 .btn .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
.con10 .btn .btnRight a.btns strong{display:block; padding:1px 8px 0 25px; background:url(/manage/img/btn_write.gif) no-repeat; color:#797979 !important;}

/* 풋터 */
#footer{margin-top: 100px;}
